/* .nav-container {
    background-color: rgb(40, 33, 104);
  
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.nav-item {
   
    height: 70px;
    width: 100%;
}
.nav-item:hover {
    background-color :rgb(62, 55, 121);
}
.nav-item:active {
    background-color :rgb(255, 150, 102);
}
.nav-item p {
    color: white;
    font-size: 8px;
}
.nav-item i {
    color: white;
    font-size: 20px;
    height: 20px;
} */

.global-container {
    background-color: rgb(125, 201, 201);
    position: fixed;
    background-repeat: repeat;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* border-radius: 10px; */
    overflow: scroll;
    /* box-shadow: 0px 1px 5px #888888; */
}

.primary-bar {
    background-color: #3874bc;
    width: 100%;
    height: 180px;
}

.dash-title {
    width: 100%;
    height: 90px;
    vertical-align: baseline;
}

.dash-title h3 {
    font-size: 1.2rem;
    color: white;
    text-align: left;
}

.dash-title .additional-info {
    background-color: #578dcf;
    padding: 2px 10px;
    width: 300px;
    border-radius: 20px;

}

.dash-title .additional-info p {
    font-size: 0.8rem;

    color: #a8cfff;
    text-align: center;
    font-weight: 600;

}

.dash-title .additional-info i {
    color: #a8cfff;
}

i {
    color: white;
    margin: 5px;
}

.page-body {

    transform: translateY(-105px);

}

.page-body_menu {
    width: 100%;
    height: 60px;
    overflow: hidden;

}

.page-body_menu .item {
    border-bottom: 5px #5599ec00 solid;
    box-sizing: content-box;
    cursor: pointer;
}

.page-body_menu .item:hover {
    border-bottom: 5px #4b9cff solid;


}

.page-body_menu .item p {
    display: block;

    color: white;
    font-size: 0.9rem;
    margin: 0 0;
}

.page-body_menu .item i {
    font-size: 1rem;
    margin-right: 5px;
}

.page-body_detail {
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    height: max-content;
}


.horizontal_line {

    margin: 0.5rem 0.5rem;
    color: red;
}

.card-body p {
    margin: 0 0;
    font-size: .8rem;
}

.card-header {
    font-size: .8rem;
    font-weight: 600;
}

input {
    font-size: .8rem;
}


.btn-primary {
    font-size: .7rem;
}