<!-- <div class="container mt-5 mb-5">
  <div class="card border-secondary p-2">
    <h3 class="app_title text-center mt-2 mb-5">Prod Cons</h3>

    <hr />
    <nav>
      <ul>
        <li><a routerLink="/message.jsp" routerLinkActive="active">First Component</a></li>
        <li><a routerLink="/dashboard.jsp" routerLinkActive="active">Second Component</a></li>
      </ul>
    </nav>
   
    <router-outlet></router-outlet>


  </div>
</div> -->

<div class="primary-bar container-fluid">
  <div class="container">
    <div class="row">
      <div class="dash-title d-flex flex-row justify-content-center align-items-baseline">
        <div class="align-self-center">

          <i class="d-inline fas fa-tachometer-alt"></i>
          <h3 class="d-inline">Kafka Dashboard</h3>
        </div>
        <div class="additional-info ml-auto align-self-center">
          <i class="d-inline fas fa-envelope"></i>
          <p class="d-inline">No warning</p>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container page-body">
  <div class="page-body_menu d-flex flex-row justify-content-left align-items-center">
    <div class="item p-3 ml-2">
      <i class="d-inline fas fa-eye"></i>
      <p class="d-inline">Overview</p>
    </div>
    <div routerLink="/dashboard.jsp" routerLinkActive="active" class="item p-3">
      <i class="d-inline fas fa-server"></i>
      <p class="d-inline">Topics</p>
    </div>
    <div routerLink="/message.jsp" routerLinkActive="active" class="item p-3">
      <i class="d-inline fas fa-envelope"></i>
      <p class="d-inline">Messages</p>
    </div>
  </div>
  <div class="page-body_detail p-5">



    <router-outlet></router-outlet>



  </div>

</div>

<!-- <div class="nav-container">
  <div class="d-flex flex-column justify-content-between">
    <div class="nav-item  d-flex flex-column justify-content-center  p-2">
      <div class="icon"></div>
      <p>hello</p>
    </div>
    <div class="nav-item d-flex flex-column justify-content-center p-2">
      <div class="icon"></div>
      <p>Partitions</p>
    </div>
    <div class="nav-item  d-flex flex-column justify-content-between  p-2">
      <div class="icon"></div>
      <fa-icon [icon]="faCoffee"></fa-icon>
      <i class="fa-solid fa-lightbulb-on"></i>
      <p>Topics</p>
    </div>
  </div>
</div> -->