<div class="card border-secondary">
  <div class="card-header text-center">Kafka Input :</div>
  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="insertMessage(f.value)" class="text-center">
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">

            <select name="topic_field" ngModel class="form-control" id="topics">
              <option *ngFor="let topic of topics">{{topic}}</option>

            </select>

          </div>
          <div class="col-md-9">

            <input name="message_field" ngModel type="text" class="form-control" id="input-kafka"
              placeholder="Inserer votre message..." />
          </div>
        </div>

      </div>

      <button type="Envoyer" class="text-center btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<hr />
<div class="card border-secondary">
  <div class="card-header text-center">
    Kafka Output :
    <div class="btn btn-danger ml-2 color-white" (click)="getAllMessages()">&#8635;</div>
  </div>
  <div class="card-body">
    <div *ngFor="let msg of messages">
      <div class="d-flex flex-row justify-content-center align-items-center justify-content-between">

        <p class="d-inline"><span style="background-color:bisque;"> {{ msg.date }} </span></p>

        <p class="d-inline"><span> {{ msg.content }} </span></p>

        <p class="d-inline"><span> {{ msg.topic }} </span></p>
      </div>




      <hr class="horizontal_line" />
    </div>
  </div>
</div>