.horizontal_line {

    margin: 0.5rem 0.5rem;
    color: red;
}

.card-body p {
    margin: 0 0;
    font-size: .8rem;
}

.card-header {
    font-size: .8rem;
    font-weight: 600;
}

input,
select {
    font-size: .8rem;
}


.btn-primary {
    font-size: .7rem;
}