<div class="card border-primary m-3">
    <div class="card-header text-center">Kafka Input :</div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="createTopic(f.value)" class="text-center">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">

                        <input name="name" ngModel type="text" class="form-control" id="input-kafka"
                            placeholder="Nom du topic..." />

                    </div>

                    <div class="col-md-3">

                        <input name="partitions" ngModel type="text" class="form-control" id="input-kafka"
                            placeholder="Nombre de partitions..." />

                    </div>

                    <div class="col-md-3">

                        <input name="replicas" ngModel type="text" class="form-control" id="input-kafka"
                            placeholder="Nomre de replicas..." />

                    </div>

                    <div class="col-md-3">
                        <button type="Envoyer" class="text-center btn btn-primary">Créer Topic</button>
                    </div>

                </div>

            </div>


        </form>
    </div>
</div>
<hr />

<div class="container">
    <h3 class="app_title text-primary text-center mt-1 mb-3">Available topics</h3>
    <div class="card border-primary p-1">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Topic Name</th>
                    <th scope="col">Partition</th>
                    <th scope="col">replicas</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let topic of topics">
                    <th scope="row">1</th>

                    <td>{{topic}}</td>
                    <td>{{partitions}}</td>
                    <td>@mdo</td>
                </tr>

            </tbody>
        </table>


    </div>
</div>

<!--

    https://fr.slideshare.net/NawresFarhat/rapport-pfe-refonte-et-dploiement-dune-solution-de-messagerie-en-utilisant-larchitecture-microservices
[["0","0","1"]]
-->