.bpi-card-choice {
    width: 100%;
    height: max-content;
    min-height: 150px;
    cursor: pointer;
    border-radius: 10px;
}

.bpi-card-choice p {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    align-self: center;
}

/* Choices colors and Hover */
.choice-1 {
    background-color: red;
    background: linear-gradient(27deg, rgb(11, 186, 255), rgb(1, 27, 173));
}

.choice-2 {
    background: linear-gradient(27deg, rgb(121, 255, 11), rgb(3, 150, 59));
}

.choice-3 {
    background: linear-gradient(27deg, rgb(125, 44, 255), rgb(87, 6, 162));
}

.choice-1:hover {
    background: linear-gradient(90deg, rgb(11, 186, 255, 0.5), rgb(1, 27, 173, 0.5));
}

.choice-2:hover {
    background: linear-gradient(120deg, rgb(121, 255, 11, 0.5), rgb(3, 150, 59, 0.5));
}

.choice-3:hover {
    background: linear-gradient(-90deg, rgb(125, 44, 255, 0.5), rgb(87, 6, 162, 0.5));
}

.choice-1:hover p,
.choice-2:hover p,
.choice-3:hover p {
    color: black;
    font-size: 1.6rem;
    transition: all .3s;
    margin-top: 0.5rem;
}


h3 {
    font-size: 1rem;
}

hr {
    width: 80%;
}

.horizontal_line {


    margin: 0.5rem 0.5rem;
    color: red;
}

.card-body p {
    margin: 0 0;
    font-size: .8rem;
}

.card-header {
    font-size: .8rem;
    font-weight: 600;
}

input,
select {
    font-size: .8rem;
}


.btn-primary {
    font-size: .7rem;
}