/* You can add global styles to this file, and also import other style files */
body {
    background-color: #578dcf;
    background-color: #ecedf1;
}

p,
td {
    font-size: .8rem;
}

th {
    font-size: .8rem;
    font-weight: 600;
}

.horizontal_line {

    margin: 0.5rem 0.5rem;
    color: red;
}

.card-body p {
    margin: 0 0;
    font-size: .8rem;
}

.card-header {
    font-size: .8rem;
    font-weight: 600;
}

input,
select {
    font-size: .8rem;
}


.btn-primary {
    font-size: .7rem;
}